html{

    background-repeat: no-repeat;
}


.column {
    float: left;

}
h2{
    text-align: center;
}
/* Left and right column */
.column.side {
    width: 300px;
    height: 900px;
    background: lightslategrey;
    color: white;

}

/* Middle column */
.column.middle {

    background: palevioletred;
    width: 700px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: hotpink;
}
.formulario{
    margin: 400px;
    width: 800px;
    height: 500px;
    padding: 20px;
    border: teal 2px solid;
    border-radius: 4px;
    background-color: mistyrose;
}